<template>
    <div>
        <nav class="navbar navbar-light bg-light">
            <a href="/" class="navbar-brand">MEVN Stack</a>
        </nav>

        <div class="container">
            <div class="row pt-5">
                <div class="col-md-5">
                    <div class="card">
                        <div class="card-body">
                            <form @submit.prevent="sendTask">
                                <div class="form-group">
                                    <input type="text" v-model="task.title" placeholder="insert a Task" class="form-control">
                                </div>
                                <div class="form-group">
                                    <textarea v-model="task.description" cols="30" rows="10" placeholder="Inster a description" class="form-control"></textarea>
                                </div>
                                <template v-if="edit === false">
                                    <button class="btn btn-primary btn-block">Send</button>
                                </template>
                                <template v-else>
                                    <button class="btn btn-primary btn-block">Update</button>
                                </template>
                            </form>
                        </div>
                    </div>
                </div>
                <div class="col-md-7">
                    <table class="table table-bordered">
                        <thead>
                            <tr>
                                <th>Task</th>
                                <th>Description</th>
                                <th>Acciones</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="task of tasks" :key="task._id"> <!--por q puedo ver el id si no lo definí en el modelo? ¿por q es mongodb?-->
                                <td>{{task.title}}</td>
                                <td>{{task.description}}</td>
                                <td>
                                    <button @click="deleteTask(task._id)" class="btn btn-danger">
                                        Delete
                                    </button>
                                    <button @click="editTask(task._id)" class="btn btn-secondary">
                                        Edit
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    class Task {
        constructor(title, description){
            this.title = title;
            this.description = description;
        }
    }

    export default {
        data(){
            return {
                task: new Task(),
                tasks: [],
                edit: false,
                idTaskToEdit: ''
            }
        },
        created(){  //ejecuta la app apenas se carga el componente
            this.getTasks();
        },
        methods: {
            getTasks(){
                fetch('/api/tasks')
                .then(res => res.json())
                .then(data => {
                    this.tasks = data;
                    console.log(this.tasks)
                })
            },
            sendTask(){
                if(this.edit === false){
                    fetch('/api/tasks',{
                        method: 'POST',
                        body: JSON.stringify(this.task),
                        headers: {
                            'Accept': 'application/json',
                            'Content-type': 'application/json'
                        }
                    })
                    .then(res => res.json())    //convierte la respuesta en json.
                    .then(data => {
                        this.getTasks();
                    }); //de la respuesta, usa la parte de data.
                }else{
                    fetch('/api/tasks/'+this.idTaskToEdit, {
                        method: 'PUT',
                        body: JSON.stringify(this.task),
                        headers: {
                            'Accept': 'application/json',
                            'Content-type': 'application/json'
                        }
                    })
                    .then(res => res.json())
                    .then(data => {
                        this.getTasks()
                    });
                }
                

                this.task = new Task();
                
            },
            deleteTask(id){
                fetch('/api/tasks/'+id, {
                    method: 'DELETE',
                    headers: {
                        'Accept': 'application/json',
                        'Content-type': 'application/json'
                    }
                })
                .then(res => res.json())
                .then(data => {
                    this.getTasks();
                })
            },
            editTask(id){
                fetch('/api/tasks/'+id)
                .then(res => res.json())
                .then(data => {
                    this.task = new Task(data.title, data.description);  //actualiza la Task del formulario por v-model
                    this.idTaskToEdit = data._id;
                    this.edit = true;
                });
            }
        }
    }
</script>